{% set target = 'G@roles:ambari-server or G@roles:ambari' %}
{% set hosts = salt['mine.get'](target, 'host', 'compound') %}
{% set ips = salt['mine.get'](target, 'internal_ips', 'compound') %}
{% set hosts_map = {} %}
{% for id, host in hosts.iteritems() %}
    {% do hosts_map.update({host: (ips[id])|first }) %}
{% endfor %}
